/*css for header*/
.navbar {
	padding: 0rem 1rem;
}
.navbar-main {
	text-align: center;
}
.navbar-main .nav-item {
	-webkit-transform: skew(-10deg); 
	-moz-transform: skew(-10deg); 
	-o-transform: skew(-10deg);
	transform: skew(-10deg);
	padding: 2rem 1.5rem 0.5rem 1.5rem;
}
.navbar-main .nav-item:hover {
    color: #31271c; 
    background: #838383;
}
.pt-2 {
	padding-top: 2rem!important;
}

.bg-purple {
	background-color: #666686;
}
.text-grey {
	color: #838383;
}
.elegant {
	height: 800px;
}
.landing {
	height: 800px;
	max-width: 900px;
	text-align: center;
	padding-top: 250px;
}

.jumbotron {
	margin-bottom: 0px;
}

/*css main-1*/
.main-1 {
	margin-top: 160px;
}
.main-1 h1 {
	width: 400px;
	margin-bottom: 80px;
}
.main-1 p {
	margin-bottom: 50px;
}
.main-1 .p2 {
	margin-bottom: 75px;
}

/*css main-2*/
.main-2 {
	background-color: #666666;
	padding-top: 275px;
	padding-bottom: 275px;
}
.main-2 .container {
	max-width: 600px;
	text-align: center;
}
.main-2 h1 {
	margin-bottom: 48px;
	color: #fff;
	font-size: 46px;
}
.main-2 p {
	margin-bottom: 60px;
	color: #fff;
	font-size: 16px;
}

/*css main-3*/
.main-3 .display-6 {
	width: 500px;
	text-align: center;
}
.main-3 #carouselExampleControls {
	margin-top: 70px;
	margin-bottom: 60px;
}
.main-3 h1 {
	margin-bottom: 42px;
}
.main-3 .container p {
	margin-bottom: 45px;
}

/*css main-4*/
.main-4 {
	background-color: #838383;
}
.main-4 p {
	margin-top: auto;
	margin-bottom: auto;
	font-size: 28px;
}

/*css main-5*/
.main-5 {
	background-color: #333333;
	padding-top: 210px;
	padding-bottom: 115px;
	text-align: center;
}
.main-5 .nav-link {
	color: #525252;
}
.main-5 .active {
	color: #ffffff!important;
}

footer {
	padding-top: 75px;
	padding-bottom: 71px;
	background-color: #2c2c2c;
}
footer a {
	color: #525252;
}

/*custom*/
.btn-md {
	padding: 20px 50px;
}
.carousel-control-prev, .carousel-control-next {
	margin-top: auto;
	margin-bottom: auto;
	width: 50px;
	height: 100px;
	background-color: #838383;
	opacity: 1;
}
.fac {
	font-family: Acumin Pro;
}
.mp {
	font-family: Myriad Pro;
}

@media only screen and (max-width: 480px) {
	header .display-3 {
		font-size: 54px;
	}
	.main-1 h1 {
		text-align: center;
	}
	.main-3 .display-6 {
		width: 300px;
		font-size: 36px;
	}
	.carousel-control-prev {
		margin-left: 15px;
	}
	.carousel-control-next {
		margin-right: 15px;
	}
	.img-1 {
		display: none;
	}
	.img-2 {
		display: block!important;
	}
	.nav-3 {
		display: none;
	}
}