body {
	font-family: 'Open Sans', sans-serif;
}
.bg-purple {
   background-color: #563d7c;
}
.bg-active {
	background-color: #463265;
}
.navbar {
	padding-top: 0px;
	padding-bottom: 0px;
}
.nav-item {
	padding: 0 10px;
}
.nav-item .logo {
	padding-left: 0px;
}
.nav-link {
	color: #716b7a;
}
.nav-link:hover {
	color: #563d7c;
	font-weight: bold;
}
.header-bottom {
	background-color: #fafafa;
	border-top: 2px solid #e6e6e6;
	border-bottom: 2px solid #e6e6e6;
}
.header-bottom p {
	margin-top: 21px;
	margin-bottom: 21px;
}
.blue-text {
	color: #428bca;
}
.btn-blue {
	background-color: #428bca;
	color: #ffffff;
}
.text-title {
	color: #563d7c;
}
.header {
	padding: 60px 0;
}
.logo {
	padding-right: 110px;
	padding-left: 0px;
}
.text-white {
	color: #fff;
}
.row {
	margin-top: 30px;
}
.content-first {
	margin-bottom: 85px;
}
.textron {
	background-color: #f0f7fd;
	padding: 15px;
	border-left: 5px solid #cfe3f2;
}
.sideleft {
	padding-top: 15px;
	padding-bottom: 15px;
	border-radius: 10px;
}
.break {
	margin-top: 115px;
	margin-bottom: 70px;
}
.header .col {
	padding-left: 0px;
}
