/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body {
	color: #1f232c;
	line-height: 1.15;
}
.container {
	max-width: 1200px;/*coba ubah ukuran atau hilangkan jadi none*/
	padding: 0 20px;
	box-sizing: border-box;
	margin: auto;
}
.container h2 {
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	padding-left: 5px;
	padding-right: 5px;
/*	border: 2px solid #ff0000;*/
}
/*i {
	padding: 10px;
}*/

/*header*/

header {
	background-color: #446cb3;
}
header .container {
	display: flex;
	justify-content: space-between;
}
header ul li {
	display: inline-block;/*block itu ke bawah, inline ke samping*/
/*	border-left: 2px solid #ffffff;*/
	padding: 5px;
}
header a {
	color: #ffffff;
	text-decoration: none;
	padding: 10px;	
	display: block;
}
header i:before {
	display: none;
/*	border: 2px solid #ff0000;*/
}
header .menu-home i:before {
	display: block;
}
.menu-home, .menu-user {border-left: 2px solid #3f64a5; border-right: 2px solid #3f64a5;}
.menu-categories, .menu-shop, .menu-search {border-right: 2px solid #3f64a5;}
.menu-twitter {border-left: 2px solid #3f64a5;}

/*responsive header*/
@media only screen and (max-width: 768px) {
	header i:before {
		display: inline-block;
	}
	header .menu-home i:before {
		display: none;
	}
	header .menu-search h2, header .menu-twitter h2, header .menu-user h2 {
		display: none;
	}
	ul .menu-home {
		display: none;
	}
	.menu-user {border-right: none;}
}
@media only screen and (max-width: 480px) {
	header .menu-categories h2, header .menu-shop h2 {
		display: none;
	}
	.menu-categories, .menu-shop, .menu-search, .menu-twitter, .menu-user {border: none;}
}

/*isi*/

#isi, #title, #main, .isi-left, .isi-right, h1, h2, h3, h4, p, b {
	font-family: 'Lato', sans-serif;
}
body {
	background-color: #f6f8f8;
}
#title h1 {
	font-size: 40px;
	text-transform: uppercase;
	color: #416ab2;
	padding-top: 30px;
	padding-bottom: 30px;
	font-weight: bold;
}
#main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	border: 2px solid #f3f2f2;
	background-color: #ffffff;
	border-radius: 5px;
	line-height: 1.25;
}
.isi-left {
	float: left;
	padding: 20px;
	display: block;
	width: 60%;
}
.isi-left h1 {
	font-size: 38px;
	padding-top: 10px;
	padding-left: 20px;
}
.isi-left h3 {
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 20px;
}
.isi-left b, #b-left, .box-text h2 {
	color: #918c89;
}
.isi-left #spc, #b-right {
	color: #2c5eb4;
}
.isi-left #img {
	width: 650px;
	height: 275px;
	border-radius: 10px;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 10px;	
}
.isi-left p {
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	line-height: 1.5;
}
.isi-left button {
	margin-top: 10px;
	margin-left: 20px;
	color: white;
	background-color: #446db2;
	border: none;
	border-radius: 5px;
	padding: 10px;
}
.isi-right {
	float: right;
	padding: 20px;
	display: block;
	width: 38%;
}
#b-right {
	float: right;
}
.isi-right p {
	padding-top: 20px;
	padding-bottom: 20px;
}
.side-box {
	display: flex;
	flex-direction: row;
	padding-top: 10px;
	padding-bottom: 10px;
}
.box-image {
	width: 100%
}
.box-image img {
	width: 180px;
	height: 120px;
	border-radius: 5px;
}
.box-text {
	padding-top: 15px;
	padding-left: 20px;
	padding-bottom: 20px;
	display: inline-flex;
	flex-direction: column;
	width: 100%;
}
.box-text h4 {
	text-transform: uppercase;
	padding: 3px;
	background-color: #5bc4be;
	color: #ffffff;
	font-size: 11px;
	border: none;
	border-radius: 5px;
	font-weight: bold;
	width: 65%;
	padding-left: auto;
	padding-right: auto;
}
.box-text h3 {
	padding: 3px;
	font-size: 22px;
}
.box-text h2 {
	font-size: 22px;
}

/*responsive isi*/
@media only screen and (max-width: 768px){
	.isi-left {
		float: none;
		width: 100%;
	}
	.isi-left #img {
		width: 550px;
		height: 215px;
	}
	#title h1 {
		width: 300px;
		margin-left: auto;
		margin-right: auto;
	}
	.isi-right {
		display: none;
	}
}
@media only screen and (max-width: 480px){
	.isi-left h1 {
		font-size: 200%;
		padding-left: 10px;
	}
	.isi-left h3 {
		padding-left: 10px;
	}
	.isi-left #img {
		width: 350px;
		height: 150px;
		margin-left: 10px;
	}
	.isi-left p {
		padding-left: 10px;
	}
	.isi-left button {
		margin-left: 10px;
	}
}