/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	font-family: 'Source Sans Pro', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	color: #506a85;
	text-decoration: none;
}

/*header */

.container {
	max-width: 1170px;
	padding: 0 15px;
	box-sizing: border-box;
	margin: auto;
}
#header-top {
	background-color: #f5f7fa;
	border-bottom: 1px solid #e6e9ed;
/*	padding: 15px 0;*/
}
#header-top .container {
	display: flex;
	justify-content: space-between;
}
#header-top ul {
	display: flex;
}
#header-top li {
/*	margin-right: 28px;*/
	padding: 15px 14px;
}
#header-top .email-phone li i {
	margin-right: 10px;
}
#header-top .socmed-links li {
/*	margin-right: 20px;*/
}
#header-top .socmed-links li:last-child {
	margin-right: 10px;
}
.email-phone a {
	font-size: 12px;
}
.email-phone a:hover {
	color: #38c5aa;
}
.socmed-links li:hover a {
	color: #ffffff;
}
.socmed-links li:first-child:hover {
	background-color: #4668b3;
}
.socmed-links li:nth-child(2):hover {
	background-color: #2fbbed;
}
.socmed-links li:nth-child(3):hover {
	background-color: #e1306c;
}
.socmed-links li:nth-child(4):hover {
	background-color: #d94348;
}
.socmed-links li:nth-child(5):hover {
	background-color: #3079ff;
}
.socmed-links li:last-child:hover {
	background-color: #eb6397;
}
#header {
	background-color: #ffffff;
	padding: 37px 0;
}
#header .container {
	display: flex;
	justify-content: space-between;
}
#header ul {
	display: flex;
}
#header .menu-header li {
/*	margin-top: 13px;
	margin-right: 43px;*/
	display: block;	
	padding: 12px 21px;
	position: relative;
}
#header .menu-header li ul {
	display: none;
	position: absolute;
}
#header .menu-header li:hover a {
	color: #00bc9c;
}
#header .menu-header li:hover {
	background-color: #f5f7fa;
	border: 1px solid #eaecf0;
	border-radius: 3px;
}
#header .search li {
	margin-top: 13px;
	margin-right: 22px;
	margin-left: 141px;
}
.menu-header a {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
}
.flexslider {
	display: flex;
}
.slides img {
	width: 100%;
}
#tagline {
	background-color: #ffffff;
	padding: 130px 0;
	display: flex;
}
.main-tag {
	padding-bottom: 30px;
}
.main-tag p:first-child, .main-tag p {
	color: #506a85;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.main-tag p:first-child {
	font-family: Lato;
	font-size: 44px;
	padding: 30px;
	font-weight: bold;
}
.main-tag p {
	font-size: 22px;
	padding: 9px;
}
.box-tag {
	display: flex;
	padding-top: 50px;
}
.tag {
	display: flex;
	justify-content: space-between;
}
.tag img {
	padding: 10px;
}
.word-tag {
	display: flex;
	flex-direction: column;
	width: 290px;
}
.word-tag p:first-child, .word-tag p {
	color: #506a85;
	text-align: left;
}
.word-tag p:first-child {
	font-family: Lato;
	font-size: 26px;
	text-align: left;
	font-weight: bold;
	padding: 10px;
}
.word-tag p {
	font-size: 16px;
	padding: 10px;
	line-height: 1.5;
}
#isi-atas {
	background-color: #f2f5f7;
	padding: 130px 0;
}
.check-out p:first-child, .check-out p {
	color: #506a85;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.check-out p:first-child {
	font-family: Lato;
	font-size: 44px;
	padding: 20px;
	padding-bottom: 30px;
	font-weight: bold;
}
.check-out {
	padding-bottom: 60px;
}
.check-out p {
	font-size: 22px;
	padding: 9px;
}
#isi-atas .latest {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.works {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.word-works {
	background-color: #ffffff;
	width: 100%;
	padding: 35px 0;
	color: #506a85;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}
.word-works p:first-child {
	font-family: Lato;
	font-size: 20px;
	padding-bottom: 10px;
	font-weight: bold;
}
.word-works p {
	font-size: 14px;
}
.astor {
	display: flex;
	flex-direction: row;
}
.astor img {
	padding: 10px;
}

.image {
	width: 100%;
}
#slider ul.slides > li {
	position: relative;
}
#slider .slide-text {
	position: absolute;
	width: 80%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
	color: #a3a1bf;
	font-size: 24px;
}
#slider .slide-text h1 {
	font-family: 'Lato';
	font-weight: 700;
	font-size: 78px;
	text-transform: uppercase;
	color: #ffffff;
}
#slider .slide-text .btn {
	font-size: 
}
#slider .slider-image {
	position: relative;
}